.App{
  min-height: 100vh;
  /* background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%); */
  /* background-image: linear-gradient(to right, #09203f 0%, #537895 100%); */
  /* background-image: linear-gradient(to right, #f794a4 0%, #fdd6bd 100%); */
  background: linear-gradient(to right, #1f4037, #99f2c8); 
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: linear-gradient(to right, #093028, #237a57);
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

